repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.0
    hooks:
        - id: ruff
          args: [ --fix ]

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        entry: pytest
        args: ["-k", "not trio", "-n", "auto"]
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]

    -   id: doc-validation
        name: Document Validation
        entry: python -m issue_creator_kit.interface.validation_cli
        language: python
        types: [markdown]
        files: ^(docs/adr/|docs/design-docs/|_in_box/).*\.md$
        additional_dependencies: ['PyYAML', 'PyGithub', 'python-frontmatter']

-   repo: https://github.com/commitizen-tools/commitizen
    rev: 'v3.27.0'
    hooks:
      - id: commitizen
        stages: [commit-msg]