repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.6.0
    hooks:
        # Run the linter.
        - id: ruff
          args: [ --fix ]

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        entry: pytest
        args: ["-k", "not trio", "-n", "auto"]
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]

    -   id: doc-validation-adr
        name: Document Validation (ADRs)
        entry: doc-validator
        language: system
        files: ^docs/adr/.*\.md$
        pass_filenames: true
    -   id: doc-validation-design-docs
        name: Document Validation (Design Docs)
        entry: doc-validator
        language: system
        files: ^docs/design-docs/.*\.md$
        pass_filenames: true
    -   id: doc-validation-plans
        name: Document Validation (Plans)
        entry: doc-validator
        language: system
        files: ^plans/.*\.md$
        pass_filenames: true
    -   id: doc-validation-in-box
        name: Document Validation (In Box)
        entry: doc-validator
        language: system
        files: ^_in_box/.*\.md$
        pass_filenames: true

-   repo: https://github.com/commitizen-tools/commitizen
    rev: 'v3.27.0'
    hooks:
      - id: commitizen
        stages: [commit-msg]