repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.6.0
    hooks:
        # Run the linter.
        - id: ruff
          args: [ --fix ]

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        entry: pytest
        args: ["-k", "not trio", "-n", "auto"]
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]

    -   id: doc-validation
        name: Document Validation
        entry: doc-validator
        language: python
        types: [markdown]
        files: ^(docs/adr/|docs/design-docs/|plans/|_in_box/).*\\.md$
        additional_dependencies: ['-e', '/app/issue_creator_kit']

-   repo: https://github.com/commitizen-tools/commitizen
    rev: 'v3.27.0'
    hooks:
      - id: commitizen
        stages: [commit-msg]